body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

/* Modal Content */
.modal-content-client {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 67%;
}

/* The Close Button */
.close-image {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-image:hover,
.close-image:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close-client {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-client:hover,
.close-client:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close-credit {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-credit:hover,
.close-credit:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.carousel-cellar {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
}
#imagen-cellar {
    width: 54%;
    height: 268px;
    background-size: cover;
}

.carousel-cellar-an {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
}
